body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(images/header-img.jpeg) no-repeat center center /cover;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading, .banner-par {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    padding-block: 2rem;
    transition: all .7s;
}

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .2s;
}

.menu-item:hover {
    color: #70aed2;
}

.nav-active {
    color: #70aed2;
}

.line1, .line2, .line3 {
    width: 2rem;
    height: 4px;
    margin: 5px;
    border-radius: 100vmax;
    transition: all .4s;
}

.change.line1 {
    transform: rotate(-45deg) translate(-6.5px, 6px);
}

.change.line2 {
    opacity: 0;
}

.change.line3 {
    transform: rotate(45deg) translate(-6.5px, -6px);
}

.costume-navbar {
    padding-block: .1rem;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));
}

.mission {
    background-color: #151f20;
}

.underline {
    height: 1px;
    width: 80%;
    background-color: #eee;
    border-radius: 100vmax;
}

.from-left {
    animation-name: fromLeft;
    animation-duration: 3s;
}

.from-right {
    animation-name: fromRight;
    animation-duration: 3s;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-shadow {
    box-shadow: 5px 8px 20px #444;
}

.heading {
    position: absolute;
    bottom: 0; right: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #222;
    width: 70%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
}

.heading:hover {
    opacity: 1;
}

.underline_dark {
    height: 1px;
    width: 80%;
    background-color: #888;
    border-radius: 100vmax;
}

.gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 38rem) {
    .gallery-list-item span {
        display: none;
    }
}