::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #70aed2;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

@supports (scrollbar-color: #444 #ccc) {
  * {
    scrollbar-color: #444 #ccc;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(images/header-img.jpeg) no-repeat center center / cover;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.banner-heading,
.banner-par {
  animation-name: anim;
  animation-duration: 2s;
}

.banner-par {
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding-block: 2rem;
  transition: all 0.7s;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transition: color 0.2s;
}

.menu-item:hover {
  color: #70aed2;
}

.nav-active {
  color: #70aed2;
}

.line1,
.line2,
.line3 {
  width: 2rem;
  height: 4px;
  margin: 5px;
  border-radius: 100vmax;
  transition: all 0.4s;
}

.change.line1 {
  transform: rotate(-45deg) translate(-6.5px, 6px);
}

.change.line2 {
  opacity: 0;
}

.change.line3 {
  transform: rotate(45deg) translate(-6.5px, -6px);
}

.costume-navbar {
  padding-block: 0.1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

.mission {
  background-color: #151f20;
}

.underline {
  height: 1px;
  width: 80%;
  background-color: #eee;
  border-radius: 100vmax;
}

.camera-img,
.mission-text {
  opacity: 0;
  transition: all 0.3s;
}

.from-left {
  animation-name: fromLeft;
  animation-duration: 3s;
  opacity: 1;
}

.from-right {
  animation-name: fromRight;
  animation-duration: 3s;
  opacity: 1;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-shadow {
  box-shadow: 5px 8px 20px #444;
}

.heading {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #222;
  width: 70%;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
}

.heading:hover {
  opacity: 1;
}

.underline_dark {
  height: 1px;
  width: 80%;
  background-color: #888;
  border-radius: 100vmax;
}

.gallery-list-item {
  color: #777;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s;
}

.gallery-list-item:hover {
  color: #111;
}

.active-item {
  color: #70aed2;
}

.gap {
  gap: 1rem;
}

@media (max-width: 38rem) {
  .gallery-list-item span {
    display: none;
  }
}

.customers {
  background-color: #151f20;
}

.customers img {
  height: 100px;
  width: 100px;
}

.carousel-control-prev {
  left: -6rem;
}

.carousel-control-next {
  right: -6rem;
}

@media (max-width: 767px) {
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
}

.pricing-card {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(images/pricing-card-bg.jpeg);
  box-shadow: 7px 18px 50px #555;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: all 0.4s;
  max-width: 20rem;
}

.moveFromLeft {
  opacity: 1;
  animation-name: moveFromLeft;
  animation-duration: 2s;
}

.moveFromRight {
  opacity: 1;
  animation-name: moveFromRight;
  animation-duration: 2s;
}

.moveFromBottom {
  opacity: 1;
  animation-name: moveFromBottom;
  animation-duration: 2s;
}

@keyframes moveFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-list-item {
  border-bottom: 1px groove #eee;
  width: 55%;
  margin-inline: auto;
}

.price-card-button {
  background-color: #f5593d;
  width: 8rem;
  box-shadow: 5px 8px 18px #000;
  transition: all 0.2s ease-in-out;
}

.price-card-button:hover {
  background-color: #f9793d;
  transform: translateY(-2px);
}

.contact {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.7) 50%,
      transparent 50%
    ),
    url(images/form-img.jpeg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  color: #f9793d;
  transition: all 0.8s;
}

.input:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
}

.input-effect {
  position: relative;
}

.line {
  background-color: red;
  width: 0;
  height: 2px;
  position: absolute;
  top: 36px;
  transition: all 0.8s;
}

.input:focus ~ .line {
  width: 100%;
}

.submit-button {
  background-color: #f5593d;
  color: #eee;
  transition: all 0.3s;
}

.submit-button:hover {
  background-color: #f9793d;
  transform: translateY(-3px);
}

.label {
  color: #777;
  font-size: 1.2rem;
}

.label-anim {
  display: block;
  margin-top: -70px;
  margin-left: 4px;
  transition: all 0.3s;
}

.input:placeholder-shown ~ .label {
  transform: translate(5px, 30px);
  opacity: 0;
  visibility: hidden;
}

.text-area {
  color: #f9793d;
  background: transparent;
  resize: none;
  transition: all 0.4s;
}

.text-area:focus {
  color: #fff;
  background: transparent;
}

@media (max-width: 62rem) {
  .contact {
    background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.95));
  }

  .contact-form {
    width: 80%;
    margin: auto;
  }
}

.footer-link {
  color: #eee;
  font-size: 13px;
  transition: all 0.3s;
}

.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}

.insta-icon {
  color: #d6249f;
}
