body {
    font-family: 'Montserrat', sans-serif;
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(images/header-img.jpeg) no-repeat center center /cover;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-heading, .banner-par {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
}

.menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .2s;
}

.menu-item:hover {
    color: #70aed2;
}